.img.img-fluid.nonprofit-logo {
    max-width: 100%;
    height: 50px;
}

.me-image {
    background-image: url("../images/aboutMepic.jpeg");
    max-width: 200%;
    height: 400px;
    background-position: left;
    background-position: 60% 40%;
}

.intro-image {
    height: 200px;
    background-image: url("../images/autismAwareness.jpg");
    background-repeat: no-repeat;
}

.message-image {
    height: 400px;
    background-image: url("../images/autismRibbon.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 30%;    
}